:root{
    --clr-100: hsl(0, 0%, 100%);
    --clr-200: hsl(275, 100%, 97%);
    --clr-600: hsl(292, 16%, 49%);
    --clr-800: hsl(292, 42%, 14%);

    --fw-light: 400;
    --fw-regular: 600;
    --fw-bold: 700;

    --fs: 1rem;
}
/* 
1. Use a more intuitive box sizing model.
*/
*,
*::before, 
*::after{
    box-sizing: border-box;
}

/*
 2. Remove default margin
*/
*{
    margin: 0;
}

/*
 Typographic tweaks!
 3. Add accessible line-height
 4. Improve text rendering
*/
body{
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
 5. Improve media defaults
*/
img, 
picture, 
video, 
canvas, 
svg{
    display: block;
    max-width: 100%;
}

/*
 6. Remove built in form typography styles
*/
input,  
textarea, 
select{
    font: inherit;
}

/* 
 7. Avoid text overflow
*/
p,
h1,
h2,
h3,
h4,
h5, 
h6{
    overflow-wrap: break-word;
}

h1,h2,h3{
    line-height: 1;
}

/* styling */

body{
    display: grid;
    justify-items: center;
    grid-template-columns: subgrid;
    background-color: var(--clr-200);
}

.bg{
    z-index: -1;
}


.mobile{
    display: none;
}

.faq{
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: var(--clr-100);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    gap: 2rem;
   
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: var(--clr-800);
    font-size: 1.5rem;
    text-decoration: none;
}

.accordion{
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    background-color: transparent;
    color: var(--clr-800);
    cursor: pointer;

    padding: 0;
    width: 100%;

    text-align: left;
    font-weight: var(--fw-bold);
    font-size: var(--fs);

    border: none;
    outline: none;
    transition: 400ms;
}

.active,
.accordion:hover{
    color: var(--clr-600);
}

.panel{
    color: var(--clr-600);
    
    font-weight: var(--fw-light);
    font-size: var(--fs);

    

    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in;
}

.accordion::after{
    content: "";
    background-image: url(assets/images/icon-plus.svg);
    float: right;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    transition: ease 200ms;
}

.active::after{
    content: "";
    background-image: url(assets/images/icon-minus.svg);
    transition: ease 200ms;
}

@media(max-width: 385px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}